.root{
    display: block;	
    margin: 50px;
    width: 20%;
    height: auto;
}

.comment {
	margin: 20px auto;
	width: 450px;
}

.button {
	cursor:pointer;
}

.container {
	margin: 5px 0;
}
